<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>


    </style>
    <title>Tech Components</title>
    <link rel = "icon" href ="./Images/Logo.webp"
        type = "image/x-icon">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./Index.html">Home Goods</a></li>
                <li><a href="./Products2.html">Tech Components</a></li>
                <li><a href="./Credits.html">Credits</a></li>
            </ul>
        </nav>
    </header>
    <div class="album py-5 bg-dark">
        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
              -->
                        <img src="./images/SSD.jpeg" alt="tulip">
                        <div class="card-body">
                            <p class="card-text"><strong>Western Digital WD Black SN750 SE NVMe</strong>
                                <ul>
                                    <li>Get into the action fast with sequential read speeds up to 3,600 MB/s (1TB model) to
                                        boost system, game and level load times</li>
                                    <li>Demolish the competition with PCIe Gen4 storage (backwards compatible with PCIe Gen3)</li>
                                    <li>The WD_BLACK Dashboard helps you maintain drive health and enable gaming mode to help
                                        sustain maxed-out performance</li>
                                    <li>Available in capacities ranging from 250GB - 1TB for storing the latest games and future
                                        updates</li>
                                  </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">$99.00</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
                        <img src="./images/Motherboard.jpeg" alt="sunflower">
                        <div class="card-body">
                            <p class="card-text"><strong>ASUS ROG X570</strong>
                                <ul>
                                    <li>AMD AM4 socket: Ready for 2nd and 3rd Gen AMD Ryzen processors to maximize connectivity
                                        and speed with up to two M.2 Drives, USB 3.2 Gen2 and AMD StoreMI</li>
                                    <li>Aura Sync RGB: ASUS-exclusive Aura Sync RGB lighting, including RGB headers and
                                        addressable Gen 2 headers</li>
                                    <li>Comprehensive cooling: Active PCH heatsink, MOS heatsink with 8mm heatpipe, dual
                                        on-board M.2 heatsinks and a water pump + header</li>
                                    <li>Gaming connectivity: Supports PCIe 4.0, HDMI 2.0, DisplayPort 1.2 and features dual M.2
                                        and USB 3.2 Type-A and Type-C connectors</li>
                                  </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">$329.88</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
               -->
                        <img src="./images/RAM.jpg" alt="daisy">
                        <div class="card-body">
                            <p class="card-text"><strong>HyperX FURY RAM</strong>
                                <ul>
                                    <li>16GB (1 x 16GB)</li>
                                    <li>DDR4 2666MHz DRAM (Desktop Memory)</li>
                                    <li>CL16 1.2V White DIMM (288-pin)</li>
                                    <li>HX426C16FB/16 (Intel XMP, AMD Ryzen)</li>
                                  </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">$44.99</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <!--{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                -->
                        <img src="./images/GPU.jpeg" alt="random flower">
                        <div class="card-body">
                            <p class="card-text"><strong>AMD Radeon RX 6800 XT</strong>
                                <ul>
                                    <li>16GB 256-Bit GDDR6</li>
                                    <li>Boost Clock 2155 MHz</li>
                                    <li>1 x HDMI 2.1 3 x DisplayPort 1.4a</li>
                                    <li>3840 Cores CUDA Cores</li>
                                    <li>PCI Express 4.0</li>
                                  </ul>

                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">$399.99</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</body>
<footer>
    <p>Group 8 Product Catalog - 2023</p>
</footer>
</html>