<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        


    </style>
    <title>Home Goods</title>
    <link rel = "icon" href ="./Images/Logo.webp"
        type = "image/x-icon">
</head>

<body>
    <header>
        <nav>
            <ul>
              <li><a href="./Index.html">Home Goods</a></li>
              <li><a href="./Products2.html">Tech Components</a></li>
              <li><a href="./Credits.html">Credits</a></li>
            </ul>
        </nav>
    </header>

    <div class="album py-5 bg-dark">
        <div class="container">
    
          
            <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <!--{% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                -->
                  <img src="./images/Grill.jpeg" alt="random flower">
                  <div class="card-body">
                    <p class="card-text"><strong>Outdoors Propane Grill</strong> 
                      <ul>
                        <li>4 burner propane gas grill is the ideal grill for get-togethers and family gatherings</li>
                        <li>It features durable stainless-steel burners for even heat</li>
                        <li>Durable cast iron cooking grates provide the perfect grill marks and clean up easily when the grilling is done</li>
                        <li>Two fixed side shelves offer ample space for grill tools, food prep or keeping other seasonings at hand</li>
                      </ul>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">$197.99</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
                <img src="./images/Blender.jpeg" alt="sunflower">
               <div class="card-body">
                  <p class="card-text"><strong>Ninja Blender</strong>
                    <ul>
                      <li>This pitcher is perfect for large batches of delicious margaritas, daiquiris, shakes, and smoothies</li>
                      <li>Powerful motor crushes ice into snow in seconds for your favorite smoothies, frozen drinks, and more</li>
                      <li>Fully breaks down whole foods, and frozen ingredients, unlocking the full potential of your fruits and veggies</li>
                      <li>Pitcher, lid, and blades are BPAfree and dishwasher safe</li>
                    </ul>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">$57.97</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
               -->
               <img src="./images/Bike.jpeg" alt="daisy">
                <div class="card-body">
                  <p class="card-text"><strong>HillTop Mountain Bike</strong>
                    <ul>
                      <li>21-speed twist-grip shifting</li>
                      <li>Suspension aluminum frame with a suspension fork</li>
                      <li>3-piece, high-performance crank</li>
                      <li>Padded saddle seat</li>
                    </ul>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">$175.99</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
              -->
               <img src="./images/PatioSet.jpeg" alt="tulip">
               <div class="card-body">
                  <p class="card-text"><Strong>Natural Outdoors 7 Piece Patio Set</Strong>
                    <ul>
                      <li>7 piece outdoor sofa is made of weather-resistant PE rattan elegantly woven on a powder-coated and rust-resistant steel frame</li>
                      <li>The upgraded fabric material brings better splash proof ability to the cushion</li>
                      <li>All cushions and pillows adopt a zipper design to achieve easy-care</li>
                      <li>The patio dining table can accommodate up to 4-8 people at same time to enjoy their leisure time</li>
                    </ul>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">$489.99</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add To List</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
        </div>
      </div>
</body>
<footer>
  <p>Group 8 Product Catalog - 2023</p>
</footer>
</html>
